<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {{block "title" .}}
        {{end}}
    </title>
    {{partial "head.html" .}}
</head>

<body>
    {{partial "header.html" .}}
    <div class="content">
        {{block "main" .}}
        {{end}}
    </div>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "89c0d858814f42b3a144121f32c859a8"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>