{{define "title"}}
{{.Title}}
{{end}}

{{define "main"}}
{{ partial "breadcrumbs.html" . }}
{{.Content}}
<ul>
    {{range sort .Pages ".Date" "desc"}}
    <li>
        <a href="{{.RelPermalink}}" style="text-decoration: none;" title="{{dateFormat " 2006-01-02" .Date}}">
            {{.Title}}
        </a>
        <div style="margin-right: 40%;">
            <p>
                <a href="{{.RelPermalink}}"
                    style="text-decoration: none; color: inherit; overflow-wrap: break-word;">{{if .Params.summary}}
                    {{.Params.summary}}
                    {{end}}</a>
            </p>
        </div>
    </li>
    {{end}}
</ul>
{{end}}